<mddoc>
	<docpage target="README.md">
		<autoloader type="psr4" root="src" namespace="donatj\MDDom"/>
		<section title="MDDom - Markdown DOM">
			<badge-poser type="version"/>
			<badge-poser type="license"/>
			<badge-github-action name="donatj/mddom" workflow-file="ci.yml"/>

			<text>A Simple Easy To Use Way to Generate Markdown Using a "DOM" Like Interface</text>
			<docpage target="docs/docs.md">
				<section title="Documentation">
					<recursive-directory name="src"/>
				</section>
			</docpage>
			<section title="Requirements">
				<composer-requires/>
			</section>
			<section title="Installing">
				<composer-install/>
			</section>
			<section title="Example">
				<source name="example/simple.php" format="code-block" lang="php"/>
				<text>Outputs:</text>
				<exec cmd="php example/simple.php" format="code-block" lang="markdown"/>
			</section>
		</section>
	</docpage>
</mddoc>
