parameters:
	level: max
	paths:
		- src
	checkTooWideThrowTypesInProtectedAndPublicMethods: true
	exceptions:
		implicitThrows: false
		check:
			missingCheckedExceptionInThrows: true
			tooWideImplicitThrowType: true
