<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="test/bootstrap.php" backupGlobals="false"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd" cacheDirectory=".phpunit.cache"
		failOnPhpunitDeprecation="true" failOnDeprecation="true" displayDetailsOnTestsThatTriggerDeprecations="true">
	<coverage>
		<include>
			<directory suffix=".php">./src</directory>
		</include>
	</coverage>
	<testsuites>
		<testsuite name="unit">
			<directory>test/unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory>test/integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
